# Follow instructions on:
# https://blog.rstudio.org/2016/03/09/r-on-travis-ci/

language: r
r:
  - release
  - devel
  - oldrel

dist: xenial
sudo: required

env:
  global:
    # TODO: `make -j2` interleaves output lines from simultaneous processes.
    # Would be nice to fix by adding `-Otarget`, but not supported in Make 3.x.
    # When Travis updates, check for Make 4 and add -O if available.
    - MAKEFLAGS="-j2"
    - PGHOST=localhost
    - RGL_USE_NULL=TRUE # Keeps RGL from complaining it can't find X11
    - _R_CHECK_LENGTH_1_CONDITION_=true
    - _R_CHECK_LENGTH_1_LOGIC2_=true

matrix:
  fast_finish: true
  allow_failures:
    - r: devel
    - r: oldrel

cache: 
  - directories:
    - .install
    - .check
    - .test
    - .doc
  - packages

addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntugis/ppa' # for GDAL 2 binaries
    packages:
      - bc
      - curl
      - gdal-bin
      - jags
      - libgdal-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev
      - libgmp-dev
      - libhdf5-dev
      - liblapack-dev
      - libnetcdf-dev
      - libproj-dev
      - librdf0-dev
      - libudunits2-dev
      - netcdf-bin
      - pandoc
      - python-dev
      - qpdf
      - tcl
      - tcl-dev
      - udunits-bin
      # R package binaries from c2d4u
      - r-bioc-biocinstaller
      - r-cran-ape
      - r-cran-curl
      - r-cran-data.table
      - r-cran-devtools
      - r-cran-dplyr
      - r-cran-gap
      - r-cran-ggplot2
      - r-cran-httr
      - r-cran-igraph
      - r-cran-lme4
      - r-cran-matrixstats
      - r-cran-mcmcpack
      - r-cran-raster
      - r-cran-rcpp
      - r-cran-rcurl
      - r-cran-redland
      - r-cran-rjags
      - r-cran-rncl
      - r-cran-roxygen2
      - r-cran-rsqlite
      # - r-cran-sf
      - r-cran-shiny
      - r-cran-sirt
      - r-cran-testthat
      - r-cran-tidyverse
      - r-cran-xml
      - r-cran-xml2
      - r-cran-xts

  
## notifications should go to slack
notifications:
  slack:
    # Slack token created by Chris Black, 2018-02-17
    secure: "DHHSNmiCf71SLa/FFSqx9oOnJjJt2GHYk7NsFIBb9ZY10RvQtIPfaoNxkPjqu9HLyZWJSFtg/uNKKplEHc6W80NoXyqoTvwOxTPjMaViXaCNqsmzjjR/JaCWT/oWGXyAw0VX3S8cwuIexlKQGgZwJpIzoVOZqUrDrHI/O17kZoM="
  email:
    on_success: always
    on_failure: always

## list of services to be running
services:
  - docker

install:
  - scripts/travis/install.sh
  
before_script:
  - scripts/travis/before_script.sh

script:
  - scripts/travis/script.sh

after_script:
  - scripts/travis/after_script.sh
