# Follow instructions on:
# https://blog.rstudio.org/2016/03/09/r-on-travis-ci/

# A few blocks in here can be removed when Travis updates its Ubuntu image past 
# trusty. They are marked with TRUSTY for easy grepping.

language: r
r:
  - 3.4

# TRUSTY: Change version when 16.04 image is available.
dist: trusty
sudo: false

cache: 
  - directories:
    - .install
    - .check
    - .test
    - .doc
  - packages

addons:
  postgresql: 9.6
  apt:
    sources:
      - sourceline: 'ppa:marutter/c2d4u'
      - sourceline: 'ppa:nschloe/hdf5-backports'
    packages:
      - libnetcdf-dev
      - liblapack-dev
      - libcurl4-openssl-dev
      - jags
      - libudunits2-dev
      - python-dev 
      - postgresql-9.6-postgis-2.3
      - postgresql-9.6-postgis-2.3-scripts
      - netcdf-bin
      - bc
      - curl
      - udunits-bin 
      - libgmp-dev
      - libproj-dev
      - pandoc
      - tcl
      - tcl-dev
      - libhdf5-dev
      - libgdal-dev
      - gdal-bin
      # R package binaries from c2d4u
      - r-bioc-biocinstaller
      - r-cran-ape
      - r-cran-curl
      - r-cran-devtools
      - r-cran-dplyr
      - r-cran-ggplot2
      - r-cran-httr
      - r-cran-igraph
      - r-cran-lme4
      - r-cran-matrixstats
      - r-cran-mcmcpack
      - r-cran-mcmcpack
      - r-cran-raster
      - r-cran-rcpp
      - r-cran-rcurl
      - r-cran-rncl
      - r-cran-roxygen2
      - r-cran-shiny
      - r-cran-testthat
      - r-cran-tidyverse
      - r-cran-xml
      - r-cran-xml2
      # need to compile documentation
      # BROKEN MISSING FONT
      #- texinfo
      #- texlive-latex-base
      #- texlive-latex-recommended
      #- texlive-latex-extra
      #- texlive-fonts-recommended
      #- texlive-fonts-extra

  
## notifications should go to gitter
notifications:
  webhooks:
    urls:
      - secure: "gL81TwDOcK/32Hxxl2BcY7pioyrtyV4y1f+D/vGEpQz8mYL+M+55tUkhHJF53779XSUdQdML/gsr8JZVtApJdLIBysFU67GVYXm1s7x/b8J61CkMfDgsmposEWK4NFYHfeIRj32ioeajrQ+RKi1I6chjzYT7gLyl70gtPelRJ4s="
    on_success: always
    on_failure: always
    on_start: always
  slack:
    # Slack token created by Chris Black, 2018-02-17
    secure: "DHHSNmiCf71SLa/FFSqx9oOnJjJt2GHYk7NsFIBb9ZY10RvQtIPfaoNxkPjqu9HLyZWJSFtg/uNKKplEHc6W80NoXyqoTvwOxTPjMaViXaCNqsmzjjR/JaCWT/oWGXyAw0VX3S8cwuIexlKQGgZwJpIzoVOZqUrDrHI/O17kZoM="
  email:
    on_success: always
    on_failure: always

## list of services to be running
services:
  - postgresql

install:
  - pushd $HOME
  - curl -o sipnet_unk.tar.gz http://isda.ncsa.illinois.edu/~kooper/EBI/sipnet_unk.tar.gz
  - tar zxf sipnet_unk.tar.gz
  - cd sipnet_unk
  - make
  - popd

before_script:
  - psql -q -o /dev/null -U postgres -c "CREATE ROLE BETY WITH LOGIN CREATEDB SUPERUSER CREATEROLE UNENCRYPTED PASSWORD 'bety'";
  - psql -q -o /dev/null -U postgres -c "CREATE DATABASE bety OWNER bety;"
  - curl -o bety.sql http://isda.ncsa.illinois.edu/~kooper/PEcAn/data/bety.sql
  - psql -q -o /dev/null -U postgres < bety.sql
  - rm bety.sql
  - ./scripts/add.models.sh
  - chmod +x book_source/deploy.sh
  - chmod +x documentation/tutorials/deploy.sh

script:
  - set -e
  # - scripts/build.sh --no-git --tests --name travis
  - echo 'Installing PEcAn packages'
  # TODO: Would be nice to add `-Otarget` after `-j"$NCPUS"` below,
  # but not supported in Make 3.x.
  # When Travis updates, check for Make 4 and add -O if available.
  - make -j"$NCPUS"
  - echo 'Testing PEcAn packages'
  - make -j"$NCPUS" test
  - make -j"$NCPUS" document
  - mkdir -p .check/modules && touch .check/modules/benchmark && touch .check/modules/data.land
  - make -j"$NCPUS" check
  - echo 'Testing Integration'
  - ./tests/integration.sh travis
  - if [[ `git status -s` ]]; then 
      echo "These files were changed by the build process:";
      git status -s;
      echo "Have you run devtools::check and commited any updated Roxygen outputs?";
      exit 1; 
    fi
  - set +e

after_script:
  - set -e
  - echo 'Building Book'
  - pushd book_source
  - make
  - popd
  - echo 'Building Tutorials'
  - pushd documentation/tutorials
  - make build deploy
  - popd
  - set +e
