# Follow instructions on:
# https://blog.rstudio.org/2016/03/09/r-on-travis-ci/

language: r

# use containers
dist: trusty
sudo: false

cache: 
  - directories:
    - .install
    - .check
    - .test
    - .doc
  - packages

addons:
  postgresql: 9.6
  apt:
    sources:
      - sourceline: 'ppa:marutter/c2d4u'
    packages:
      - libnetcdf-dev
      - liblapack-dev
      - libcurl4-gnutls-dev
      - jags
      - libudunits2-dev
      - python-dev 
      - postgresql-9.6-postgis-2.3
      - postgresql-9.6-postgis-2.3-scripts
      - netcdf-bin
      - bc
      - curl
      - udunits-bin 
      - libgmp-dev
      - libproj-dev
      - pandoc
      - tcl
      - tcl-dev
      # R package binaries from c2d4u
      - r-cran-rcpp
      - r-bioc-rhdf5
      - r-cran-ggplot2
      # need to compile documentation
      # BROKEN MISSING FONT
      #- texinfo
      #- texlive-latex-base
      #- texlive-latex-recommended
      #- texlive-latex-extra
      #- texlive-fonts-recommended
      #- texlive-fonts-extra

  
## notifications should go to gitter
notifications:
  webhooks:
    urls:
      - secure: "gL81TwDOcK/32Hxxl2BcY7pioyrtyV4y1f+D/vGEpQz8mYL+M+55tUkhHJF53779XSUdQdML/gsr8JZVtApJdLIBysFU67GVYXm1s7x/b8J61CkMfDgsmposEWK4NFYHfeIRj32ioeajrQ+RKi1I6chjzYT7gLyl70gtPelRJ4s="
    on_success: always
    on_failure: always
    on_start: always
  email:
    on_success: always
    on_failure: always

## list of services to be running
services:
  - postgresql

## install sipnet and clim file
install:
  - pushd $HOME
  - curl -o sipnet_unk.tar.gz http://isda.ncsa.illinois.edu/~kooper/EBI/sipnet_unk.tar.gz
  - tar zxf sipnet_unk.tar.gz
  - cd sipnet_unk
  - make
  - popd

before_script:
  - psql -U postgres -c "CREATE ROLE BETY WITH LOGIN CREATEDB SUPERUSER CREATEROLE UNENCRYPTED PASSWORD 'bety'";
  - psql -U postgres -c "CREATE DATABASE bety OWNER bety;"
  - curl -o bety.sql http://isda.ncsa.illinois.edu/~kooper/PEcAn/data/bety.sql
  - psql -U postgres < bety.sql
  - rm bety.sql
  - ./scripts/add.models.sh
  - chmod +x book_source/deploy.sh
  - chmod +x documentation/tutorials/deploy.sh

script:
  - set -e
  # - scripts/build.sh --no-git --tests --name travis
  - echo 'Installing PEcAn packages'
  - make
  - echo 'Testing PEcAn packages'
  - make test
  - make document
  - echo 'Testing Integration'
  - ./tests/integration.sh travis
  - if [[ `git status -s` ]]; then 
      echo "These files were changed by the build process:";
      git status -s;
      echo "Have you run devtools::check and commited any updated Roxygen outputs?";
      exit 1; 
    fi
  - set +e

after_script:
  - echo 'Building Book'
  - pushd book_source
  - make
  - popd
  - echo 'Building Tutorials'
  - pushd documentation/tutorials
  - make build deploy
  - popd
