<?xml version="1.0"?>
<pecan>
  <pft>
    <name>
      ebifarm.c4crop
    </name>
    <outdir>
      /home/dlebauer/pecan/out
    </outdir>
  </pft>
  <ma_iter>10000</ma_iter>
  <ensemble_size>100</ensemble_size>
  <sensitivity_analysis>TRUE</sensitivity_analysis>
  <pecanDir>/home/dlebauer/pecan/</pecanDir>
  <Rlibdir>/home/dlebauer/lib/R</Rlibdir>
  <outdir>/home/dlebauer/pecan/out</outdir>
  <runnames>
    <runname>prior</runname>
    <runname>post</runname>
  </runnames>
  <quantiles>
<!--<quantile></quantile>-->
    <sigma>-3</sigma>
    <sigma>-2</sigma>
    <sigma>-1</sigma>
    <sigma>1</sigma>
    <sigma>2</sigma>
    <sigma>3</sigma>
  </quantiles>
  <database>
    <userid>ebi_analys_user</userid>
    <passwd>b742xsAu</passwd>
    <location>localhost</location>
    <name>ebi_analysis</name>
  </database>
</pecan>
