<?xml version="1.0"?>
<pecan>
  <pft>temperate.Late_Hardwood</pft>
  <ma_iter>1000</ma_iter>
  <ensemble_size>0</ensemble_size>
  <sensitivity_analysis>TRUE</sensitivity_analysis>
  <outdir>/home/mdietze/output/pecan/</outdir>
  <Rlib>/home/mdietze/lib/R</Rlib>
  <!-- Q-->
  <quantiles>
    <quantile></quantile>
    <sigma></sigma>
  </quantiles>
  <database>
    <userid>ebi_analys_user</userid>
    <passwd>b742xsAu</passwd>
    <location>localhost</location>
    <name>ebi_analysis</name>
  </database>
  <pecanDir>/home/mdietze/pecan/</pecanDir>
</pecan>
