year	patch	cohort	dbh	hite	pft	dens	bd	ba	avgRG
2011	1	1	23.5	0	11	0.0061	0	0	-999
2011	1	2	5.3	0	9	0.0061	0	0	-999
2011	1	3	28.7	0	11	0.0061	0	0	-999
2011	1	4	8.6	0	11	0.0061	0	0	-999
2011	1	5	7.1	0	11	0.0061	0	0	-999
2011	1	6	26.4	0	11	0.0061	0	0	-999
2011	1	7	22.5	0	11	0.0061	0	0	-999
2011	1	8	8.9	0	11	0.0061	0	0	-999
2011	1	9	30.2	0	11	0.0061	0	0	-999
2011	1	10	30.4	0	11	0.0061	0	0	-999
2011	1	11	8.6	0	11	0.0061	0	0	-999
2011	1	12	20.4	0	11	0.0061	0	0	-999
2011	1	13	7.4	0	11	0.0061	0	0	-999
2011	1	14	29.6	0	11	0.0061	0	0	-999
2011	1	15	6	0	9	0.0061	0	0	-999
2011	1	16	28	0	11	0.0061	0	0	-999
2011	1	17	26.5	0	11	0.0061	0	0	-999
2011	1	18	23.7	0	11	0.0061	0	0	-999
2011	2	1	18.2	0	11	0.0061	0	0	-999
2011	2	2	13.1	0	11	0.0061	0	0	-999
2011	2	3	12.5	0	11	0.0061	0	0	-999
2011	2	4	12.1	0	11	0.0061	0	0	-999
2011	2	5	23.3	0	11	0.0061	0	0	-999
2011	2	6	6.3	0	11	0.0061	0	0	-999
2011	2	7	8	0	11	0.0061	0	0	-999
2011	2	8	28	0	11	0.0061	0	0	-999
2011	2	9	5.5	0	9	0.0061	0	0	-999
2011	2	10	15.5	0	11	0.0061	0	0	-999
2011	2	11	7.9	0	11	0.0061	0	0	-999
2011	2	12	27.8	0	11	0.0061	0	0	-999
2011	2	13	24.1	0	11	0.0061	0	0	-999
2011	2	14	5.3	0	9	0.0061	0	0	-999
2011	2	15	5.6	0	9	0.0061	0	0	-999
2011	2	16	30.9	0	11	0.0061	0	0	-999
2011	2	17	7	0	11	0.0061	0	0	-999
2011	2	18	15.5	0	11	0.0061	0	0	-999
2011	2	19	11.6	0	11	0.0061	0	0	-999
2011	3	1	31.5	0	11	0.0061	0	0	-999
2011	3	2	27	0	11	0.0061	0	0	-999
2011	3	3	25.1	0	11	0.0061	0	0	-999
2011	3	4	5.5	0	9	0.0061	0	0	-999
2011	3	5	44.7	0	10	0.0061	0	0	-999
2011	3	6	9	0	11	0.0061	0	0	-999
2011	3	7	26	0	11	0.0061	0	0	-999
2011	3	8	22.1	0	11	0.0061	0	0	-999
2011	3	9	8.1	0	11	0.0061	0	0	-999
2011	3	10	10.8	0	9	0.0061	0	0	-999
2011	3	11	36.7	0	11	0.0061	0	0	-999
2011	3	12	18.5	0	11	0.0061	0	0	-999
2011	3	13	15.6	0	11	0.0061	0	0	-999
2011	3	14	7.9	0	11	0.0061	0	0	-999
2011	3	15	29	0	11	0.0061	0	0	-999
2011	3	16	29.2	0	11	0.0061	0	0	-999
2011	4	1	29.1	0	10	0.0061	0	0	-999
2011	4	2	9.3	0	11	0.0061	0	0	-999
2011	4	3	7.8	0	11	0.0061	0	0	-999
2011	4	4	10.1	0	11	0.0061	0	0	-999
2011	4	5	17.7	0	11	0.0061	0	0	-999
2011	4	6	7.4	0	11	0.0061	0	0	-999
2011	4	7	46.4	0	10	0.0061	0	0	-999
2011	4	8	9.3	0	9	0.0061	0	0	-999
2011	4	9	8.8	0	11	0.0061	0	0	-999
2011	4	10	11.9	0	11	0.0061	0	0	-999
2011	4	11	25.6	0	10	0.0061	0	0	-999
2011	4	12	15.8	0	10	0.0061	0	0	-999
2011	4	13	10.8	0	11	0.0061	0	0	-999
2011	5	1	25.9	0	11	0.0061	0	0	-999
2011	5	2	27.8	0	11	0.0061	0	0	-999
2011	5	3	33.8	0	11	0.0061	0	0	-999
2011	5	4	20.9	0	11	0.0061	0	0	-999
2011	5	5	20.7	0	11	0.0061	0	0	-999
2011	5	6	23.3	0	11	0.0061	0	0	-999
2011	5	7	20.5	0	11	0.0061	0	0	-999
2011	5	8	23.1	0	11	0.0061	0	0	-999
2011	5	9	37.5	0	10	0.0061	0	0	-999
2011	5	10	34.1	0	10	0.0061	0	0	-999
2011	5	11	22.1	0	10	0.0061	0	0	-999
2011	5	12	21	0	11	0.0061	0	0	-999
2011	5	13	29.3	0	11	0.0061	0	0	-999
2011	6	1	22.7	0	11	0.0061	0	0	-999
2011	6	2	19.1	0	11	0.0061	0	0	-999
2011	6	3	25.2	0	11	0.0061	0	0	-999
2011	6	4	37.2	0	11	0.0061	0	0	-999
2011	6	5	23.3	0	11	0.0061	0	0	-999
2011	6	6	27.4	0	11	0.0061	0	0	-999
2011	6	7	14.7	0	11	0.0061	0	0	-999
2011	6	8	28.9	0	11	0.0061	0	0	-999
2011	6	9	24.3	0	11	0.0061	0	0	-999
