tags$head(
  tags$style(HTML("
    .plot-container {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    @media (max-width: 768px) {
      .plot-container {
        margin: 0;
      }
    }
  "))
)
