<?xml version="1.0"?>
<pecan>
 <info>
  <notes>Compiled from template.xml at 2026-03-03 12:32:05.933794</notes>
  <userid>-1</userid>
  <username></username>
 </info>
 <outdir>output</outdir>
 <modeloutdir>output/out</modeloutdir>
 <rundir>output/run</rundir>
 <pfts>
  <pft>
   <name>soil</name>
   <outdir>raw-data/pfts/soil/</outdir>
  </pft>
  <pft>
   <name>Not implemented</name>
   <outdir>raw-data/pfts/soil/</outdir>
  </pft>
 </pfts>
 <ensemble>
  <size>20</size>
  <variable>TotSoilCarb</variable>
  <samplingspace>
   <parameters>
    <method>uniform</method>
   </parameters>
   <met>
    <method>sampling</method>
   </met>
  </samplingspace>
  <start.year>2016</start.year>
  <end.year>2024</end.year>
 </ensemble>
 <model>
  <id>peprmt_0_1_0</id>
  <type>PEPRMT</type>
  <revision>0.1.0</revision>
  <delete.raw>FALSE</delete.raw>
  <binary>/usr/local/bin/PEPRMT_v0.1.0</binary>
 </model>
 <run>
  <site.US_EDN>
   <site>
    <id>US_EDN</id>
    <lat>37.615</lat>
    <lon>-122.114</lon>
    <site.pft>
     <veg>Not implemented</veg>
     <soil>soil</soil>
    </site.pft>
    <ERA5_grid_cell>37.5N_122W</ERA5_grid_cell>
    <name>US_EDN</name>
    <met.start>2016-01-01</met.start>
    <met.end>2024-12-31</met.end>
   </site>
   <start.date>2016-01-01</start.date>
   <end.date>2024-12-31</end.date>
   <inputs>
    <met>
     <id></id>
     <path>
      <path1>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.1.2016-01.2024-12.dat</path1>
      <path2>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.2.2016-01.2024-12.dat</path2>
      <path3>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.3.2016-01.2024-12.dat</path3>
      <path4>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.4.2016-01.2024-12.dat</path4>
      <path5>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.5.2016-01.2024-12.dat</path5>
      <path6>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.6.2016-01.2024-12.dat</path6>
      <path7>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.7.2016-01.2024-12.dat</path7>
      <path8>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.8.2016-01.2024-12.dat</path8>
      <path9>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.9.2016-01.2024-12.dat</path9>
      <path10>data/ERA5_PEPRMT/ERA5_37.5N_122W/ERA5.10.2016-01.2024-12.dat</path10>
     </path>
    </met>
    <soil_physics>
     <path>
      <path1>data/soil/US_EDN/gSSURGO_soil_2.nc</path1>
      <path2>data/soil/US_EDN/gSSURGO_soil_3.nc</path2>
      <path3>data/soil/US_EDN/gSSURGO_soil_4.nc</path3>
      <path4>data/soil/US_EDN/gSSURGO_soil_5.nc</path4>
      <path5>data/soil/US_EDN/gSSURGO_soil_6.nc</path5>
      <path6>data/soil/US_EDN/gSSURGO_soil_7.nc</path6>
      <path7>data/soil/US_EDN/gSSURGO_soil_8.nc</path7>
      <path8>data/soil/US_EDN/gSSURGO_soil_9.nc</path8>
      <path9>data/soil/US_EDN/gSSURGO_soil_10.nc</path9>
      <path10>data/soil/US_EDN/gSSURGO_soil_11.nc</path10>
      <path11>data/soil/US_EDN/gSSURGO_soil_12.nc</path11>
      <path12>data/soil/US_EDN/gSSURGO_soil_13.nc</path12>
      <path13>data/soil/US_EDN/gSSURGO_soil_14.nc</path13>
      <path14>data/soil/US_EDN/gSSURGO_soil_15.nc</path14>
      <path15>data/soil/US_EDN/gSSURGO_soil_16.nc</path15>
      <path16>data/soil/US_EDN/gSSURGO_soil_17.nc</path16>
      <path17>data/soil/US_EDN/gSSURGO_soil_18.nc</path17>
      <path18>data/soil/US_EDN/gSSURGO_soil_19.nc</path18>
      <path19>data/soil/US_EDN/gSSURGO_soil_20.nc</path19>
      <path20>data/soil/US_EDN/gSSURGO_soil_21.nc</path20>
     </path>
    </soil_physics>
   </inputs>
  </site.US_EDN>
  <site.US_SRR>
   <site>
    <id>US_SRR</id>
    <lat>38.2</lat>
    <lon>-122.026</lon>
    <site.pft>
     <veg>Not implemented</veg>
     <soil>soil</soil>
    </site.pft>
    <ERA5_grid_cell>38N_122W</ERA5_grid_cell>
    <name>US_SRR</name>
    <met.start>2016-01-01</met.start>
    <met.end>2024-12-31</met.end>
   </site>
   <start.date>2016-01-01</start.date>
   <end.date>2024-12-31</end.date>
   <inputs>
    <met>
     <id></id>
     <path>
      <path1>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.1.2016-01.2024-12.dat</path1>
      <path2>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.2.2016-01.2024-12.dat</path2>
      <path3>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.3.2016-01.2024-12.dat</path3>
      <path4>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.4.2016-01.2024-12.dat</path4>
      <path5>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.5.2016-01.2024-12.dat</path5>
      <path6>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.6.2016-01.2024-12.dat</path6>
      <path7>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.7.2016-01.2024-12.dat</path7>
      <path8>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.8.2016-01.2024-12.dat</path8>
      <path9>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.9.2016-01.2024-12.dat</path9>
      <path10>data/ERA5_PEPRMT/ERA5_38N_122W/ERA5.10.2016-01.2024-12.dat</path10>
     </path>
    </met>
    <soil_physics>
     <path>
      <path1>data/soil/US_SRR/gSSURGO_soil_2.nc</path1>
      <path2>data/soil/US_SRR/gSSURGO_soil_3.nc</path2>
      <path3>data/soil/US_SRR/gSSURGO_soil_4.nc</path3>
      <path4>data/soil/US_SRR/gSSURGO_soil_5.nc</path4>
      <path5>data/soil/US_SRR/gSSURGO_soil_6.nc</path5>
      <path6>data/soil/US_SRR/gSSURGO_soil_7.nc</path6>
      <path7>data/soil/US_SRR/gSSURGO_soil_8.nc</path7>
      <path8>data/soil/US_SRR/gSSURGO_soil_9.nc</path8>
      <path9>data/soil/US_SRR/gSSURGO_soil_10.nc</path9>
      <path10>data/soil/US_SRR/gSSURGO_soil_11.nc</path10>
      <path11>data/soil/US_SRR/gSSURGO_soil_12.nc</path11>
      <path12>data/soil/US_SRR/gSSURGO_soil_13.nc</path12>
      <path13>data/soil/US_SRR/gSSURGO_soil_14.nc</path13>
      <path14>data/soil/US_SRR/gSSURGO_soil_15.nc</path14>
      <path15>data/soil/US_SRR/gSSURGO_soil_16.nc</path15>
      <path16>data/soil/US_SRR/gSSURGO_soil_17.nc</path16>
      <path17>data/soil/US_SRR/gSSURGO_soil_18.nc</path17>
      <path18>data/soil/US_SRR/gSSURGO_soil_19.nc</path18>
      <path19>data/soil/US_SRR/gSSURGO_soil_20.nc</path19>
      <path20>data/soil/US_SRR/gSSURGO_soil_21.nc</path20>
     </path>
    </soil_physics>
   </inputs>
  </site.US_SRR>
  <site.US_STJ>
   <site>
    <id>US_STJ</id>
    <lat>39.088</lat>
    <lon>-75.437</lon>
    <site.pft>
     <veg>Not implemented</veg>
     <soil>soil</soil>
    </site.pft>
    <ERA5_grid_cell>39N_75.5W</ERA5_grid_cell>
    <name>US_STJ</name>
    <met.start>2016-01-01</met.start>
    <met.end>2024-12-31</met.end>
   </site>
   <start.date>2016-01-01</start.date>
   <end.date>2024-12-31</end.date>
   <inputs>
    <met>
     <id></id>
     <path>
      <path1>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.1.2016-01.2024-12.dat</path1>
      <path2>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.2.2016-01.2024-12.dat</path2>
      <path3>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.3.2016-01.2024-12.dat</path3>
      <path4>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.4.2016-01.2024-12.dat</path4>
      <path5>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.5.2016-01.2024-12.dat</path5>
      <path6>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.6.2016-01.2024-12.dat</path6>
      <path7>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.7.2016-01.2024-12.dat</path7>
      <path8>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.8.2016-01.2024-12.dat</path8>
      <path9>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.9.2016-01.2024-12.dat</path9>
      <path10>data/ERA5_PEPRMT/ERA5_39N_75.5W/ERA5.10.2016-01.2024-12.dat</path10>
     </path>
    </met>
    <soil_physics>
     <path>
      <path1>data/soil/US_STJ/gSSURGO_soil_2.nc</path1>
      <path2>data/soil/US_STJ/gSSURGO_soil_3.nc</path2>
      <path3>data/soil/US_STJ/gSSURGO_soil_4.nc</path3>
      <path4>data/soil/US_STJ/gSSURGO_soil_5.nc</path4>
      <path5>data/soil/US_STJ/gSSURGO_soil_6.nc</path5>
      <path6>data/soil/US_STJ/gSSURGO_soil_7.nc</path6>
      <path7>data/soil/US_STJ/gSSURGO_soil_8.nc</path7>
      <path8>data/soil/US_STJ/gSSURGO_soil_9.nc</path8>
      <path9>data/soil/US_STJ/gSSURGO_soil_10.nc</path9>
      <path10>data/soil/US_STJ/gSSURGO_soil_11.nc</path10>
      <path11>data/soil/US_STJ/gSSURGO_soil_12.nc</path11>
      <path12>data/soil/US_STJ/gSSURGO_soil_13.nc</path12>
      <path13>data/soil/US_STJ/gSSURGO_soil_14.nc</path13>
      <path14>data/soil/US_STJ/gSSURGO_soil_15.nc</path14>
      <path15>data/soil/US_STJ/gSSURGO_soil_16.nc</path15>
      <path16>data/soil/US_STJ/gSSURGO_soil_17.nc</path16>
      <path17>data/soil/US_STJ/gSSURGO_soil_18.nc</path17>
      <path18>data/soil/US_STJ/gSSURGO_soil_19.nc</path18>
      <path19>data/soil/US_STJ/gSSURGO_soil_20.nc</path19>
      <path20>data/soil/US_STJ/gSSURGO_soil_21.nc</path20>
     </path>
    </soil_physics>
   </inputs>
  </site.US_STJ>
  <site.US_LA1>
   <site>
    <id>US_LA1</id>
    <lat>29.5013</lat>
    <lon>-90.4449</lon>
    <site.pft>
     <veg>Not implemented</veg>
     <soil>soil</soil>
    </site.pft>
    <ERA5_grid_cell>29.5N_90.5W</ERA5_grid_cell>
    <name>US_LA1</name>
    <met.start>2016-01-01</met.start>
    <met.end>2024-12-31</met.end>
   </site>
   <start.date>2016-01-01</start.date>
   <end.date>2024-12-31</end.date>
   <inputs>
    <met>
     <id></id>
     <path>
      <path1>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.1.2016-01.2024-12.dat</path1>
      <path2>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.2.2016-01.2024-12.dat</path2>
      <path3>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.3.2016-01.2024-12.dat</path3>
      <path4>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.4.2016-01.2024-12.dat</path4>
      <path5>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.5.2016-01.2024-12.dat</path5>
      <path6>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.6.2016-01.2024-12.dat</path6>
      <path7>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.7.2016-01.2024-12.dat</path7>
      <path8>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.8.2016-01.2024-12.dat</path8>
      <path9>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.9.2016-01.2024-12.dat</path9>
      <path10>data/ERA5_PEPRMT/ERA5_29.5N_90.5W/ERA5.10.2016-01.2024-12.dat</path10>
     </path>
    </met>
    <soil_physics>
     <path>
      <path1>data/soil/US_LA1/gSSURGO_soil_2.nc</path1>
      <path2>data/soil/US_LA1/gSSURGO_soil_3.nc</path2>
      <path3>data/soil/US_LA1/gSSURGO_soil_4.nc</path3>
      <path4>data/soil/US_LA1/gSSURGO_soil_5.nc</path4>
      <path5>data/soil/US_LA1/gSSURGO_soil_6.nc</path5>
      <path6>data/soil/US_LA1/gSSURGO_soil_7.nc</path6>
      <path7>data/soil/US_LA1/gSSURGO_soil_8.nc</path7>
      <path8>data/soil/US_LA1/gSSURGO_soil_9.nc</path8>
      <path9>data/soil/US_LA1/gSSURGO_soil_10.nc</path9>
      <path10>data/soil/US_LA1/gSSURGO_soil_11.nc</path10>
      <path11>data/soil/US_LA1/gSSURGO_soil_12.nc</path11>
      <path12>data/soil/US_LA1/gSSURGO_soil_13.nc</path12>
      <path13>data/soil/US_LA1/gSSURGO_soil_14.nc</path13>
      <path14>data/soil/US_LA1/gSSURGO_soil_15.nc</path14>
      <path15>data/soil/US_LA1/gSSURGO_soil_16.nc</path15>
      <path16>data/soil/US_LA1/gSSURGO_soil_17.nc</path16>
      <path17>data/soil/US_LA1/gSSURGO_soil_18.nc</path17>
      <path18>data/soil/US_LA1/gSSURGO_soil_19.nc</path18>
      <path19>data/soil/US_LA1/gSSURGO_soil_20.nc</path19>
      <path20>data/soil/US_LA1/gSSURGO_soil_21.nc</path20>
     </path>
    </soil_physics>
   </inputs>
  </site.US_LA1>
  <site.US_PLM>
   <site>
    <id>US_PLM</id>
    <lat>42.7345</lat>
    <lon>-70.8382</lon>
    <site.pft>
     <veg>Not implemented</veg>
     <soil>soil</soil>
    </site.pft>
    <ERA5_grid_cell>42.5N_71W</ERA5_grid_cell>
    <name>US_PLM</name>
    <met.start>2016-01-01</met.start>
    <met.end>2024-12-31</met.end>
   </site>
   <start.date>2016-01-01</start.date>
   <end.date>2024-12-31</end.date>
   <inputs>
    <met>
     <id></id>
     <path>
      <path1>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.1.2016-01.2024-12.dat</path1>
      <path2>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.2.2016-01.2024-12.dat</path2>
      <path3>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.3.2016-01.2024-12.dat</path3>
      <path4>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.4.2016-01.2024-12.dat</path4>
      <path5>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.5.2016-01.2024-12.dat</path5>
      <path6>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.6.2016-01.2024-12.dat</path6>
      <path7>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.7.2016-01.2024-12.dat</path7>
      <path8>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.8.2016-01.2024-12.dat</path8>
      <path9>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.9.2016-01.2024-12.dat</path9>
      <path10>data/ERA5_PEPRMT/ERA5_42.5N_71W/ERA5.10.2016-01.2024-12.dat</path10>
     </path>
    </met>
    <soil_physics>
     <path>
      <path1>data/soil/US_PLM/gSSURGO_soil_2.nc</path1>
      <path2>data/soil/US_PLM/gSSURGO_soil_3.nc</path2>
      <path3>data/soil/US_PLM/gSSURGO_soil_4.nc</path3>
      <path4>data/soil/US_PLM/gSSURGO_soil_5.nc</path4>
      <path5>data/soil/US_PLM/gSSURGO_soil_6.nc</path5>
      <path6>data/soil/US_PLM/gSSURGO_soil_7.nc</path6>
      <path7>data/soil/US_PLM/gSSURGO_soil_8.nc</path7>
      <path8>data/soil/US_PLM/gSSURGO_soil_9.nc</path8>
      <path9>data/soil/US_PLM/gSSURGO_soil_10.nc</path9>
      <path10>data/soil/US_PLM/gSSURGO_soil_11.nc</path10>
      <path11>data/soil/US_PLM/gSSURGO_soil_12.nc</path11>
      <path12>data/soil/US_PLM/gSSURGO_soil_13.nc</path12>
      <path13>data/soil/US_PLM/gSSURGO_soil_14.nc</path13>
      <path14>data/soil/US_PLM/gSSURGO_soil_15.nc</path14>
      <path15>data/soil/US_PLM/gSSURGO_soil_16.nc</path15>
      <path16>data/soil/US_PLM/gSSURGO_soil_17.nc</path16>
      <path17>data/soil/US_PLM/gSSURGO_soil_18.nc</path17>
      <path18>data/soil/US_PLM/gSSURGO_soil_19.nc</path18>
      <path19>data/soil/US_PLM/gSSURGO_soil_20.nc</path19>
      <path20>data/soil/US_PLM/gSSURGO_soil_21.nc</path20>
     </path>
    </soil_physics>
   </inputs>
  </site.US_PLM>
 </run>
 <host>
  <name>localhost</name>
  <outdir>output/out</outdir>
  <rundir>output/run</rundir>
 </host>
 <multisettings>
  <multisettings>run</multisettings>
 </multisettings>
</pecan>
