useDynLib(rhdf5)

import(zlibbioc)

exportClasses(H5IdComponent)
## exportClasses(H5file)
## exportClasses(H5group)
## exportClasses(H5space)
## exportClasses(H5dataset)

export(H5Acreate)
export(H5Aopen)
export(H5Aopen_by_name)
export(H5Aopen_by_idx)
export(H5Aexists)
export(H5Aclose)
export(H5Adelete)
export(H5Aget_name)
export(H5Aget_space)
export(H5Aget_type)
export(H5Aread)
export(H5Awrite)

export(H5Dclose)
export(H5Dcreate)
export(H5Dget_type)
export(H5Dget_space)
export(H5Dopen)
export(H5Dread)
export(H5Dwrite)

export(H5Fclose)
export(H5Fcreate)
export(H5Fflush)
export(H5Fopen)
## export(H5Freopen)

export(H5Gclose)
export(H5Gcreate)
export(H5Gcreate_anon)
export(H5Gget_info)
export(H5Gget_info_by_idx)
export(H5Gget_info_by_name)
export(H5Gopen)

export(H5Iget_name)
export(H5Iget_type)
export(H5Iis_valid)

export(H5Lexists)
export(H5Lget_info)

export(H5Oopen)
export(H5Oclose)
export(H5Oget_num_attrs)
export(H5Oget_num_attrs_by_name)
# export(H5Oget_info)
# export(H5Oget_info_by_name)

export(H5Sclose)
export(H5Scopy)
export(H5Screate)
export(H5Screate_simple)
export(H5Sget_simple_extent_dims)
export(H5Sis_simple)
export(H5Sselect_index)
export(H5Sselect_hyperslab)

export(H5Tcopy)
export(H5Tset_size)

## export(H5loadConstants)

## export(getDatatypeClass)
## export(getDatatypeName)
## export(h5checkConstants)
export(h5const)
export(h5constType)
## export(h5const2Factor)
export(h5createDataset)
export(h5createFile)
export(h5createGroup)
export(h5createAttribute)
export(h5default)
export(h5dump)
## export(h5loadData)
export(h5ls)
## export(h5lsConvertToDataframe)
export(h5read)
export(h5save)
export(h5write)
export(h5write.default)
export(h5writeDataset)
export(h5writeDataset.data.frame)
export(h5writeDataset.list)
export(h5writeDataset.matrix)
export(h5writeDataset.integer)
export(h5writeDataset.double)
export(h5writeDataset.logical)
export(h5writeDataset.character)
export(h5writeDataset.array)
export(h5writeAttribute)
## export(h5writeAttribute.data.frame)
## export(h5writeAttribute.list)
export(h5writeAttribute.matrix)
export(h5writeAttribute.integer)
export(h5writeAttribute.double)
export(h5writeAttribute.logical)
export(h5writeAttribute.character)
export(h5writeAttribute.array)

## export(listHandles)
export(h5listIdentifier)
export(h5validObjects)
