.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0 !important;
}
.label {
  padding: 0px 0px 0px 0px;
  font-size: 100%;
  margin: 0px 0px 0px 0px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 10px 10px 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.modal-backdrop {
  background-color: #666699;
}

.modal-content {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.panel {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

#mymap {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.li {
  font-family: Lato, Verdana, sans-serif !important;
}
p {
  font-family: Lato, Verdana, sans-serif !important;
}
h3 {
  font-family: Lato, Verdana, sans-serif !important;
}
h4 {
  font-family: Lato, Verdana, sans-serif !important;
  font-size: 16px;
}
.content4 {
  display: flex;
}

.contentt img {
  margin-right: 10px;
  display: inline-block;
}

.contentt h3,
.contentt p {
  margin: 0;
}

.modal-lg {
  width: 90%;

  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.blurryCont {
  filter: blur(5px);
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  -ms-filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 99%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.containerW {
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 2px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 99%;
  height: 30px;
  background-color: #232c3b;
  color: white;
}
.text-white {
  color: #fff !important;
}

body {
  font-size: 14px;
}
.jumbotron {
  padding: 20px !important;
}
#loadmessage {
  position: fixed;
  top: 25%;
  left: 40%;
  z-index: 105;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group
    > .card:not(:first-child):not(:last-child):not(:only-child)
    .card-img-top,
  .card-group
    > .card:not(:first-child):not(:last-child):not(:only-child)
    .card-img-bottom,
  .card-group
    > .card:not(:first-child):not(:last-child):not(:only-child)
    .card-header,
  .card-group
    > .card:not(:first-child):not(:last-child):not(:only-child)
    .card-footer {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.border-primary {
  border-color: #2fa4e7 !important;
}

.border-secondary {
  border-color: #e9ecef !important;
}

.border-success {
  border-color: #73a839 !important;
}

.border-info {
  border-color: #033c73 !important;
}

.border-warning {
  border-color: #dd5600 !important;
}

.border-danger {
  border-color: #c71c22 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.bg-danger {
  background-color: #c71c22 !important;
}
.bg-success {
  background-color: #73a839 !important;
}
.badge {
  border: 1px solid #000;
}

.bg-primary {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#54b4eb),
    color-stop(60%, #2fa4e7),
    to(#1d9ce5)
  );
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
}

.bg-dark {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#04519b),
    color-stop(60%, #033c73),
    to(#02325f)
  );
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
}
.bg-warning {
  background-color: #dd5600 !important;
}
.bg-light {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    color-stop(60%, #e9ecef),
    to(#e3e7eb)
  );
  background-image: linear-gradient(white, #e9ecef 60%, #e3e7eb);
  background-repeat: no-repeat;
}
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
  color: balck;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 968px) {
  #adv-search {
    width: 500px;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}
* {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.promoBox {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: 2px solid #ddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;

  background: #ffffff;
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ffffff),
    color-stop(50%, #f1f1f1),
    color-stop(51%, #e1e1e1),
    color-stop(100%, #f6f6f6)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f1f1f1 50%,
    #e1e1e1 51%,
    #f6f6f6 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.promoBox aside {
  position: absolute;
  width: 230px;
  right: 0;
  margin: 0 -65px 0 0;
  -webkit-transform: rotate(35deg);
  -khtml-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;

  color: #fff;
  background: #4f85bb;
  background: -moz-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #4f85bb),
    color-stop(100%, #4f85bb)
  );
  background: -webkit-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
  background: -o-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
  background: -ms-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
  background: linear-gradient(135deg, #4f85bb 0%, #4f85bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=1 );
}

.promoBox aside p {
  padding: 10px 80px 10px 80px;
  margin: 0;
}
.promoBox h4 {
  font-size: 25px;
  margin: 0;
  padding: 0 35% 10px 0;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
}
.promoBox p {
  font-size: 12px;
}

/* COLOR: Box & Text
\* --------------------------------- */
.promoBox.info-box {
  background: #e0f3fa;
  background: -moz-linear-gradient(
    -45deg,
    #e0f3fa 0%,
    #d8f0fc 50%,
    #b8e2f6 51%,
    #b6dffd 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #e0f3fa),
    color-stop(50%, #d8f0fc),
    color-stop(51%, #b8e2f6),
    color-stop(100%, #b6dffd)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #e0f3fa 0%,
    #d8f0fc 50%,
    #b8e2f6 51%,
    #b6dffd 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #e0f3fa 0%,
    #d8f0fc 50%,
    #b8e2f6 51%,
    #b6dffd 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #e0f3fa 0%,
    #d8f0fc 50%,
    #b8e2f6 51%,
    #b6dffd 100%
  );
  background: linear-gradient(
    135deg,
    #e0f3fa 0%,
    #d8f0fc 50%,
    #b8e2f6 51%,
    #b6dffd 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 );
  border-color: #b6e1f6;
}
.promoBox.info-box h4 {
  color: #225b9c;
  border-color: #8dc2dd;
}

.promoBox.warning-box {
  background: #fceabb;
  background: -moz-linear-gradient(
    -45deg,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #fceabb),
    color-stop(50%, #fccd4d),
    color-stop(51%, #f8b500),
    color-stop(100%, #fbdf93)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: linear-gradient(
    135deg,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
  border-color: #fccf5a;
}
.promoBox.warning-box h4 {
  color: #775600;
  border-color: #9e8135;
}

.promoBox.danger-box {
  background: #f85032;
  background: -moz-linear-gradient(
    -45deg,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #f85032),
    color-stop(50%, #f16f5c),
    color-stop(51%, #f6290c),
    color-stop(71%, #f02f17),
    color-stop(100%, #e73827)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: linear-gradient(
    135deg,
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 );
  border-color: #ff433e;
  color: #fff;
}
.promoBox.danger-box h4 {
  color: #fff;
  border-color: #ff706d;
}

.promoBox.success-box {
  background: #9dd53a;
  background: -moz-linear-gradient(
    -45deg,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #9dd53a),
    color-stop(50%, #a1d54f),
    color-stop(51%, #80c217),
    color-stop(100%, #7cbc0a)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: linear-gradient(
    135deg,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 );
  border-color: #9dd53a;
  color: #fff;
}
.promoBox.success-box h4 {
  color: #4d690b;
  border-color: #ccfc5a;
}

table.dataTable tr.selected td,
table.dataTable td.selected {
  background-color: #ff0039 !important;
}

table.dataTable tr:hover td {
  background-color: #2c3237 !important;
}

table.dataTable th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  height: 35px;
}

table.dataTable tr td {
  color: #fff;
  background-color: #212529 !important;
  border-color: #32383e !important;
}
