export(assign.treatments)
export(db.close)
export(db.exists)
export(dbfile.check)
export(dbfile.insert)
export(db.getShowQueries)
export(db.open)
export(db.print.connections)
export(db.query)
export(db.showQueries)
export(derive.trait)
export(get.trait.data)
export(get.trait.data.pft)
export(query.base)
export(query.base.con)
export(query.close)
export(query.pft_species)
export(query.priors)
export(query.trait.data)
export(query.traits)
export(rename.jags.columns)
export(take.samples)
export(transform.nas)
