<?xml version="1.0"?>
<ldndcevent>

    <global time="2018-01-01" />

    <event  id="0" >
      
      
      <event type="plant" time="2018-05-09" >
        <plant name="perg" type="perg" >
          <grass initialbiomass="275" />
        </plant>
      </event>
      
      	<event type="fertilize" time="2018-05-30">
		      <fertilize type="no3" amount="10.0000" depth="0.05"/>
	      </event>

      	<event type="cut" time="2018-06-12" >
		      <cut remains_relative="0.65"/>
        </event>


	<event type="manure" time="2019-05-08">
		<manure type="compost" c="150" cn="12" availc="72" availn="6" />
	</event>

	<event type="cut" time="2019-06-11">
		<cut remains_relative="0.65"/>
	</event>

	<event type="fertilize" time="2019-06-20">
		<fertilize type="no3" amount="23.0000" depth="0.05"/>
	</event>

	<event type="cut" time="2019-08-20" >
		<cut remains_relative="0.65"/>
	</event>

    </event>

</ldndcevent>

