useDynLib(ncdf)

export(att.get.ncdf, att.put.ncdf, blankstring.ncdf, close.ncdf,
       create.ncdf, default.missval.ncdf, dim.create.ncdf, dim.def.ncdf,
       dim.inq.ncdf, dim.same.ncdf, dimid.inq.ncdf, enddef.ncdf,
       get.var.ncdf, in.list.name.ncdf, open.ncdf, print.ncdf, put.var.ncdf,
       redef.ncdf, set.missval.ncdf, sync.ncdf, unlimdim.ncdf, var.add.ncdf,
       var.def.ncdf, var.inq.ncdf, varid.inq.ncdf, varid.to.missing.value,
       varname.inq.ncdf, varndims.ncdf, varsize.ncdf, vartype.ncdf,
       version.ncdf, vobjtodimname, vobjtovarid)
