export(create.density.df)
export(fit.dist)
export(get.quantiles.from.density)
export(get.sample)
export(plot.posterior.density)
export(plot.prior.density)
export(plot.trait)
export(pr.dens)
export(prior.fn)
export(pr.samp)
